[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
sqlalchemy = "*"
cors = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
exc = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
