body {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../images/shop_front.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.page_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#shop_name h1{
    background-color: gray;
    border: solid;
    border-color: white;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    height: fit-content;
    width: 600px;
    text-align: center;
}
.page_wrapper > .account_creation_wrapper {
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(9,3,108);
    background: linear-gradient(177deg, rgba(9,3,108,1) 12%, rgba(1,18,194,1) 66%, rgba(0,12,143,1) 92%);
    border: solid;
    border-color: gray;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    transition: 1s;
}

.page_wrapper > .account_creation_wrapper > .input_wrapper label {
    background-color: gray;
    border: solid;
    border-color: white;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    line-height: 2vh;
    padding: 1vh 1vw;
    font-size: 1.2rem;
}
.page_wrapper > .account_creation_wrapper > .input_wrapper input {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 12vw;
    height: 5vh;
    color: aliceblue;
    font-size: 1.2rem;
    line-height: 2vh;
    border: solid rgb(9,3,108);
    background: linear-gradient(177deg, rgba(9,3,108,1) 12%, rgba(1,18,194,1) 66%, rgba(0,12,143,1) 92%);
    border-radius: 5px;
}
.page_wrapper > .account_creation_wrapper > .input_wrapper {
    margin-right: 13vw;
    width: 30vw;
    height: 10vh;
    text-align: right;
}
.page_wrapper > .account_creation_wrapper > .input_wrapper button{
    font-family: 'Courier New', Courier, monospace;
    width: 12vw;
    height: 5vh;
    font-size: 1.2rem;
    color: white;
    background: linear-gradient(177deg, rgba(9,3,108,1) 12%, rgba(1,18,194,1) 66%, rgba(0,12,143,1) 92%);
    border-radius: 5px;
    margin-left: 5vw;
}

